.coinSwitch{
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.coinSwitch.left{
    justify-content: flex-start;
}
.coinSwitch.right{
    justify-content: flex-end;
}
.coinSwitch .switch_button{
    background: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}
.coinSwitch .switch_button.active{
    background: #E09400;
    border:2px solid #7D5200;
    padding: 5px 20px;
    border-radius: 20px;
}
.coinSwitch .switch_button.active .coin_value{
    color: white;
    font-weight: 600;
}